---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="R A G H U" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="RAGHUNANDAN CHAUDHARY"
	  position="Python and Django Developer"
	  aboutMe={`Hi there! I'm Raghunadan, Enthusiastic and dedicated Associate Python and Django Developer with over one year of experience in building efficient web applications and APIs. Eager to join IT company to contribute to innovative projects and further develop my skills in a collaborative environment.\n\nLet's collaborate TOGHETER!`}
	  linkedin="https://www.linkedin.com/in/raghu-codes/"
	  github="https://github.com/raghu295"
	  cvLink="/files/RAGHUNANDAN-CHAUDHARY-CV.pdf"
	  profileImage="/images/me.jpg"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->